html {
  --default-text: #000;
  --h2-text: #9f0908;
  --dish-price-text: #675e54;
  --footer: #0a141e;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 80px;
  text-transform: uppercase;
  color: var(--h2-text);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.main-container {
  display: flex;
  background-image: url(./img/hero_bg.jpg);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  background-position: bottom;
}

.maintext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.maintext h1 {
  font-family: "Raleway", sans-serif;
  font-size: 96px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.maintext span {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.nav {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  font-size: 24px;
  text-transform: uppercase;
  padding-right: 100px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-family: "Raleway", sans-serif;
  margin-right: 50px;
}

.menu img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.redbtn {
  background-color: #9f0908;
  border: solid white;
  border-radius: 16px;
  padding: 10px;
}

.phone-icon {
  height: 24px;
  width: auto;
  vertical-align: middle;
}

.redbtn:hover {
  background-color: #c00b0b;
  transition: 200ms ease;
}

.redstyle:hover {
  color: #c00b0b;
  transition: 200ms ease;
}

.flower {
  width: 64px;
  height: 64px;
  padding-left: 100px;
  cursor: pointer;
}

.order-section {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 120px;
}

.bigtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-top: 64px;
}

.meal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Economica", sans-serif;
  font-size: 56px;
  font-weight: bold;
}

.meal img {
  width: 128px;
}

.meal-text {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h3 {
  font-family: "Economica", sans-serif;
  font-weight: bold;
  font-size: 56px;
  margin: 0;
  padding-bottom: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.spicy {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: var(--dish-price-text);
}

.spicy tr {
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 160px;
}

.foodpic {
  width: 352px;
  height: 352px;
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./img/section_our_menu_bg.jpg);
  background-size: cover;
  padding: 120px 80px;
  max-width: 100%;
}

.tablegap {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.menu1,
.menu2,
.menu3 {
  display: flex;
  align-items: center;
  gap: 80px;
  padding-top: 64px;
  justify-content: center;
}

.menu2 {
  flex-direction: row-reverse;
}

.foodtitle {
  min-width: 300px;
}

.foodimg2 {
  display: flex;
  flex-direction: row-reverse;
}

.googlemaps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
}

.headline p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  margin: 0;
}

.headline {
  padding-bottom: 64px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

.headline img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 32px;
  height: 32px;
  padding-right: 8px;
}

.footer {
  background-color: var(--footer);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 144px;
}

.pinkflower {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

.labels {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 170px;
}

.icons {
  margin-left: 16px;
}

.geticon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: row;
  align-items: center;
}

.max-width-logo {
  height: 44px;
}

.lastlogo {
  display: none;
}

.address {
  margin: 0;
}

@media (max-width: 1015px) {
  .hide-mobile {
    display: none;
  }

  .menu a {
    margin-right: 0;
  }

  .menu {
    padding-right: 20px;
  }

  .flower {
    padding-left: 20px;
    height: 64px;
    width: 64px;
  }

  .max-width {
    padding-right: 20px;
    padding-left: 20px;
  }

  .foodpic {
    width: 300px;
    height: 300px;
  }

  .maintext h1 {
    font-size: 72px;
  }

  .maintext span {
    font-size: 20px;
  }

  h2 {
    font-size: 64px;
  }

  h3 {
    font-size: 32px;
  }

  .meal img {
    width: 112px;
  }

  .meal {
    font-size: 32px;
  }

  .spicy {
    font-size: 24px;
  }

  .menu1,
  .menu2,
  .menu3 {
    gap: 24px;
  }

  .headline {
    font-size: 20px;
  }

  .pinkflower {
    padding-left: 20px;
  }

  .labels {
    padding-right: 20px;
  }
}

@media (max-width: 730px) {
  .menu a {
    margin-right: 0;
    font-size: 16px;
  }

  .menu {
    padding-right: 20px;
  }

  .flower {
    padding-left: 20px;
    width: 40px;
    height: 40px;
  }

  .max-width {
    padding-right: 0;
    padding-left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .foodpic {
    width: 230px;
    height: 230px;
  }

  .meal {
    font-size: 32px;
  }

  .meal-text {
    padding-top: 8px;
  }

  .maintext h1 {
    font-size: 44px;
    text-align: center;
    text-transform: none;
  }

  .maintext span {
    font-size: 16px;
  }

  h2 {
    font-size: 40px;
    text-align: center;
  }

  h3 {
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
    width: 280px;
  }

  .order-section {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .hto {
    flex-direction: column;
    gap: 32px;
  }

  .spicy {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
    width: 300px;
    border-spacing: 0px;
  }

  .spicy tr {
    gap: 140px;
  }

  .menu1,
  .menu2,
  .menu3 {
    gap: 30px;
    flex-direction: column;
    padding-top: 32px;
  }

  .pinkflower {
    padding-left: 20px;
  }

  .labels {
    padding-right: 20px;
  }

  .googlemaps {
    padding-top: 72px;
  }

  .headline {
    font-size: 14px;
    padding-bottom: 40px;
  }

  .max-width-logo {
    display: none;
  }

  .lastlogo {
    display: block;
    width: 40px;
    height: 40px;
  }

  .foodtitle {
    width: 300px;
  }

  .footer {
    height: 86px;
  }
}
